@font-face {
    font-family: "Bacon Font";
    src: url("Bacon_Bad.ttf");
}

.centre{

    display: flex;
    justify-content: center;
    text-align: center;

}

.vCentre{

    align-items: center;

}

.bacon-board{
    
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;

}

.mainItems{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 70px;
    margin: 2vh 0 0 1.5vw;
    

}

fieldset{

    flex-direction: column;

}

fieldset div:nth-child(even){

    background-color: #b04d4d;
    border-radius: 10px;

}

#register{

    display: none;
    width: 100vw;
    height : 100vh;

}

.option{

    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;

}

.border{

    border: 2px #d69286 solid;
    border-radius: 20px;

}

.baconFontText{

    font-weight: normal;
    font-family: Bacon Font;

}

#overallOpinion{

    width: 30vw;
    height: 30vh;
    flex-direction: column;

}

img{

    max-height: 300px;

}

#back{

    display: none;
    position: absolute;
    padding: 0.5%;
    border-radius: 40%;

}

#space{

    min-width: 28vw;

}

#baconChatSubmit{

    font-size: x-large;
    padding: 1%;

}

#baconChat{

    width: 98vw;
    height: 80vh;
    overflow-y: auto;
    flex-direction: column;
    overflow-x: hidden;
    display: none;
    margin: 1% 1% 1% 0.8%;
    overflow-wrap: break-word;

}

.ping{

    color: blue;

}

.baconChatWrapper{

    display: none;
    white-space: nowrap;
    margin: 0% 0% 0% 1%;

}

.time{

    position: absolute;
    right : 1%;
    bottom: 0%;
    font-style: italic;
    font-size: small;
    margin: 0;
    font-weight: 300;
    color: grey;

}

#baconChat div {

    margin: 0%;
    padding: 0% 5% 0% 2%;
    position: relative;

}

#loading{

    width: 100vw;
    height : 100vh;
    background-color: #d69286;

}

#baconChat :nth-child(odd):not(b, p, span){

    background-color:#f2c6ba;

}

#baconChatInput{

    width: 50vw;
    height : 10vh;
    margin-left: 2vw;

}


#title{

    box-sizing: border-box;
    width: 100%;
    height: 20%;
    border-bottom: 4px #b04d4d solid;
    padding-top: 3%;
    margin: 0%;
    background-color: grey; 
    text-align: center;

}

body{
    margin: 0;
    background-color: #fdfbee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:not(#upload) {
    min-width: 20vw;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    border: 2px solid #d69286;
    padding-left: 0.8em;
    margin: 10px 5px 5px 10px;
}

#upload{

    display : none;

}


#label{

    background-color: rgb(255, 189, 149);
    border: 2px solid #d69286;
    padding: 0% 0.5% 0% 0.5%;
    font-size: xx-large;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    display: inline;

}

#link{

    font-size: x-large;
    position: absolute;
    top: 22%;
    left : 8%;

}

#label:hover{

    background-color: rgb(255, 199, 164);

}

#label:active{

    background-color: rgb(255, 176, 127);

}